<h1>Petitions</h1>

<p>Hello. Welcome to Petitions!</p>

<ol>
<% @petitions.each do |petition| %>
<li>
Title: <%=petition["title"]%> 
<br/><br/>
Body: <%=petition["body"]%>
<br/><br/>
URL: <%=petition["url"]%>
<br/><br/>
Deadline: <%=petition["deadline"]%>
<br/><br/>
Status: <%=petition["status"]%>
<br/><br/>
Created: <%=petition["created"]%>
<br/><br/>
Signature Count: <%=petition["signatureCount"]%>
<br/> <br/></li>
<% end %>
</ol>