<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.User_id %>
</p>

<p>
  <strong>Date of purchase:</strong>
  <%= @order.date_of_purchase %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order.cost %>
</p>

<p>
  <strong>Shipping info:</strong>
  <%= @order.shipping_info %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
